h1{
    text-transform: uppercase;
    text-align: center;
}

h2{
    text-transform: uppercase;
    color: black;
    background-color: yellowgreen;
    width: fit-content;
}
ul{
    text-transform: uppercase;
    color:blue;
}

ol{
    text-transform: capitalize;
    color: red
}

p{
    text-transform: uppercase;
    text-decoration: double;
    text-decoration: underline;
    color: rosybrown
}